// Лого
.logo {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;

  .brand-color {
    color: var(--brand-color);
  }
}

.footer__logo {
  color: var(--bg-color);
}
