// Отмена стилей у ссылок
a {
  text-decoration: none;
}

// Отмена стидей у списков
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Отмена стилей у заголовков и текста
h1,
h2,
h3,
p {
  margin: 0;
}
