:root {
  --brand-color: #2196f3;
  --text: #757575;
  --title: #212121;
  --bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
}

// Font
$mainFont: 'Roboto', sans-serif, Arial, sans-serif;
$secondaryFont: 'Raleway', sans-serif, Arial, sans-serif;
